# Dépendances
/node_modules

# Fichiers de configuration IDE
.idea
.vscode

# Fichiers de build
ios/build/
android/build/
android/app/build/

# Fichiers temporaires
*.tmp
*.swp
*.swm
*.swo
*.bak
*.orig
*.old

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers Expo
.expo/
.expo-shared/
