Page dacceuil
.accueil {
  background-color: #c5c3c3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.accueil .overlap-wrapper {
  background-color: #c5c3c3;
  height: 844px;
  width: 390px;
}

.accueil .overlap {
  background-image: url('background_acceuil.png');
  background-position: 50% 50%;
  background-size: cover;
  height: 844px;
  position: relative;
}

.accueil .image {
  background-image : url('logo.png');
  height: 110px;
  left: 138px;
  object-fit: cover;
  position: absolute;
  top: 722px;
  width: 123px;
}

.accueil .title {
  color: #ffffff;
  font-family: "Mulish-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 40px;
  left: 0;
  letter-spacing: 0.11px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 81px;
  width: 390px;
}

.accueil .group {
  height: 44px;
  left: 33px;
  position: absolute;
  top: 280px;
  width: 334px;
}

.accueil .overlap-group {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #979797;
  border-radius: 10px;
  height: 44px;
  position: relative;
  width: 332px;
}

.accueil .text-wrapper {
  color: #7b7b7b;
  font-family: "Mulish-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 18px;
  left: 129px;
  letter-spacing: 0.11px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
}

.accueil .overlap-group-wrapper {
  height: 44px;
  left: 32px;
  position: absolute;
  top: 387px;
  width: 336px;
}

.accueil .subtitle-wrapper {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #979797;
  border-radius: 10px;
  height: 44px;
  position: relative;
  width: 334px;
}

.accueil .subtitle {
  color: #7b7b7b;
  font-family: "Rubik-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 17px;
  left: 119px;
  letter-spacing: 0.11px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 13px;
}

.accueil .submit-button {
  height: 45px;
  left: 100px;
  position: absolute;
  top: 545px;
  width: 191px;
}

.accueil .title-wrapper {
  background-color: #5780fa;
  border-radius: 10px;
  height: 50px;
  position: relative;
}

.accueil .div {
  color: var(--white);
  font-family: "Mulish-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  height: 16px;
  left: 15px;
  letter-spacing: 0.11px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: 160px;
}

.accueil .title-2 {
  color : white;
  font-family: "Mulish-Bold", Helvetica;
  font-size: 11px;
  font-weight: 700;
  height: 16px;
  left: 115px;
  letter-spacing: 0.11px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 599px;
  width: 160px;
}


.home {
  background-color: #42b6a0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.home .overlap-wrapper {
  background-color: #42b6a0;
  height: 844px;
  width: 390px;
}

.home .overlap-2 {
  height: 844px;
  position: relative;
}

.home .image {
  height: 844px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 390px;
}

.home .btn-loc-instance {
  border-radius: 32px !important;
  left: 324px !important;
  position: absolute !important;
  top: 612px !important;
}

.home .block-bg {
  height: 118px;
  left: 0;
  position: absolute;
  top: 726px;
  width: 390px;
}

.home .ic-gesture-instance {
  border-radius: 32px !important;
  left: 180px !important;
  position: absolute !important;
  top: 691px !important;
}

.home .search-field-instance {
  border-radius: 32px !important;
  box-shadow: 0px 4px 4px #e2dfdf40 !important;
  left: 42px !important;
  position: absolute !important;
  top: 777px !important;
  width: 303px !important;
}

.home .design-component-instance-node {
  background-image: url(gesture.png) !important;
  width: 333px !important;
}

.home .navbar-x-instance {
  border-radius: 32px !important;
  left: 7px !important;
  position: absolute !important;
  top: 0 !important;
}

.home .navbar-x-2 {
  background-color: #5d9d32 !important;
}

.home .navbar-x-3 {
  top: 9px !important;
}

.home .ic-gesture-2 {
  border-radius: 32px !important;
  left: 171px !important;
  position: absolute !important;
  top: 758px !important;
}

.home .group {
  height: 43px;
  left: 152px;
  position: absolute;
  top: 334px;
  width: 34px;
}

.home .text-wrapper-2 {
  color: #00000040;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 86px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 790px;
  white-space: nowrap;
}
